.título{text-align: center;}
.calculator {
    width: 300px;
    margin: 0 auto;
    border: 1px solid#7a5ebd;
    border-radius: 5px;
    padding: 10px;
}

#result {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 18px;
  background-color: rgb(230,230, 236);
}

 .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
 }

 button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #3e50b9;
    border: none;
 }
   button:hover{
background-color: #8d6e6e;
   }
   button:active{
    background-color: aqua;
    